@media(max-width: 480px){
    body{
        background: url(../images/bg-mobile.svg) var(--primary-color) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .header img{
        width: 100px;
    }

    .main{
        flex-direction: column;
    }

    .main .imagem img{
        max-width: 85vw;
    }

    .main .texto h2{
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    .main .texto{
        text-align: center;
        margin-bottom: 30px;
    }


    .footer{
        font-size: 1.6rem;
        justify-content: center;
        margin-right: 0;
    }

    .footer nav a i {
        width: 30px;
        height: 30px;
    }

}

@media(max-width: 1200px){
    .main .imagem img{
        max-width: 85vw;
    }

    .main{
        flex-wrap: wrap;
    }
}